@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
 	--color-marco: #66e;
 	--am-pm-ON: #4d4;
 	--am-pm-OFF: #4d45;
}

*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 40px;
	font-family: helvetica,sans-serif
}
body{
	overflow-x: hidden;
	background: #f70
}

#container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#reloj-clasico{
	margin: auto;
	margin-top: 20px;
	height: 700px;
	width: 700px;
	background: var(--color-marco);
	border-radius: 50%;
	position: relative;
}

.borde{
	padding: 30px;
    background: #ddd;
    height: 650px;
    width: 650px;
    margin: auto auto;
    margin-top: 5px;
    border-radius: 50%;
    position: relative;
    top: 23px;
}

.numeros{
	position: relative;
	height: 650px; 
}

.numeros div,.barras {
	position: absolute;
}

.num-12{
	left: 46.5%;
}
.barras-12{
	left:50%;
	top:-35px
}


.num-1{
	left: 72.5%;
    top:35px;
}
.barras-1{
	left:76.5%;
	top:5px
}



.num-2{
	left: 90.5%;
    top:135px;
}
.barras-2{
	left: 94.5%;
    top:115px;

}


.num-3{
	left: 97%;
    top: 276px;
}
.barras-3{
	left: 102%;
    top: 276px;
	
}


.num-4{
	left: 90.5%;
    top: 420px;
	
}
.barras-4{
	left: 94.5%;
    top: 430px;
	
}




.num-5{
	left: 72.5%;
	top: 520px;
}
.barras-5{
	left: 74.5%;
	top: 540px;
}
.num-6{
	left: 48.2%;
    top: 558px;
	
}
.barras-6{
	left: 49.2%;
    top: 580px;
	
}

.num-7{
	left: 23.2%;
    top: 520px;
	
}
.barras-7{
	left: 20.2%;
    top: 535px;
	
}



.num-8{
	left: 6.5%;
    top: 420px;
}
.barras-8{
	left: 3.5%;
    top: 430px;
}




.num-9{
	left: -.5%;
    top: 276px;
}

.barras-9{
	left: -3.5%;
    top: 276px;
}


.num-10{
	left: 5.4%;
	top: 135px;
}

.barras-10{
	left: 2.8%;
	top: 115px;
}



.num-11{
	left: 23%;
    top: 35px;
}
.barras-11{
	left: 23%;
    top: 0;
}


.barras-12, .barras-6{
	transform: rotate(90deg);
	
}
.barras-1, .barras-7{
	transform: rotate(-50deg);
	
}
.barras-2, .barras-8{
	transform: rotate(-40deg);
	
}
.barras-5, .barras-11{
	transform: rotate(60deg);
	
}
.barras-4, .barras-10{
	transform: rotate(30deg);
	
}


#secundero,
#minutero,
#horario{
	clip-path: polygon(50% 9%, 48% 50%, 52% 50%);
	position: absolute;
	width: 600px;
	top: 0;
	left:50%;
}


#secundero{
	top: -50px;
	left: 7.5%;
	background: #000;
	height: 800px;
}

#minutero{
    height: 700px;
    top: 21px;
    left: 7.5%;
    background: #000;
}
#horario{
    top: 96px;
    left: 7.5%;
    background: #000;
    height: 550px;
}



.circulo-central{
	height: 100px;
	width: 100px;
    background: linear-gradient(138deg, rgba(130,130,130,1) 0%, rgba(52,60,61,1) 62%, rgba(130,130,130,1) 94%);
	border-radius: 50%;
	position: absolute;
	top: 45%;
	left: 43%;
}



/* 	
*
RELOJ DIGITAL
*
*
*/
#reloj-digital{
	margin: 50px;
}
.exterior{
	background: #131313;
	width: 10em;
	height: 4em;
	position: relative;
	border-radius: .7em;

}
.pantalla{
	width: 8em;
    height: 3em;
    padding-left: 30px;
    margin: 5px;
    background: rgb(9,9,9);
    background: linear-gradient(138deg, rgba(9,9,9,1) 0%, rgba(52,60,61,1) 52%, rgba(25,23,28,1) 94%);
    position: absolute;
    top: 15px;
    left: 13%;
    border-radius: .5em;
    border-right: 1px solid #777;
    border-top: 1px solid #777;

}

.am-pm{
	margin: 18px;
}

.am-pm > span{ 
	font-family: 'ds-digital';
	color: #fff;
	font-size:15px; 
}

.am-pm-div{
	width: 20px;
	height:  20px;
	border-radius: 50%;
}

.hora,.minutos{
	font-family: 'ds-digital';
	margin: 13px;
	font-size: 2em;
	display: inline-block;
	text-align: center;
	color: var(--am-pm-ON); 
}


@media screen and (max-width:1270px){
	#container{
		flex-direction: column;
	}
}